body {
	background-image: url(http://www.acepokersolutions.com/poker-software/bovada-mods/APS-t1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

h1 {

	margin-left: 580px;
}

.whiteText {
	color: white;
}




.card {
	height: 200px;
	width: 150px;
	background-color: #edeeef;
	margin-left: 570px;
	margin-top: 100px;
	display: inline-block;
	border-radius: 13px;
    padding: 5px;
    line-height: 200px;
    text-align: center;
    font-size: 51px;
}

#snap {
	height: 100px;
	width: 170px;
	font-size: 25px;
	
	text-align: center;
	margin-left: 570px;
	margin-top: 50px;
	line-height: 90px;

}
#snap:hover {
	-webkit-box-shadow: -12px 15px 115px 23px rgba(2,3,2,1);
    -moz-box-shadow: -12px 15px 115px 23px rgba(2,3,2,1);
   box-shadow: -12px 15px 115px 23px rgba(2,3,2,1);
}

#person {
	font-size: 28px;
	color: white; 
	margin-left: 360px;
	margin-top: 100px;
}

#snapAlert {
	
	font-size: 28px;
	font-style: bold;
	color: white;
	margin-top:-480px;
	margin-left: 600px;
	height: 70px;
	width: 150px;
	
}

.gif{

	height: 300px;
	width: 300px;
	background-image: url(https://media.giphy.com/media/ui1hpJSyBDWlG/giphy.gif);
	background-repeat: no-repeat;
	margin-left: 880px;
	margin-top: 60px;

}
